@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.25rem;
  --background: #F9F8F6;
  --foreground: #2C2C2C;
  --card: #F9F8F6;
  --card-foreground: #2C2C2C;
  --popover: #F9F8F6;
  --popover-foreground: #2C2C2C;
  --primary: #5D6D5B;
  --primary-foreground: #F9F8F6;
  --secondary: #EBE9E4;
  --secondary-foreground: #2C2C2C;
  --muted: #EBE9E4;
  --muted-foreground: #5D6D5B;
  --accent: #5D6D5B;
  --accent-foreground: #F9F8F6;
  --destructive: #ef4444;
  --destructive-foreground: #F9F8F6;
  --border: #D8D6D1;
  --input: #D8D6D1;
  --ring: #5D6D5B;
  --chart-1: #5D6D5B;
  --chart-2: #2C2C2C;
  --chart-3: #D8D6D1;
  --chart-4: #EBE9E4;
  --chart-5: #F9F8F6;
  --sidebar: #F9F8F6;
  --sidebar-foreground: #2C2C2C;
  --sidebar-primary: #5D6D5B;
  --sidebar-primary-foreground: #F9F8F6;
  --sidebar-accent: #EBE9E4;
  --sidebar-accent-foreground: #2C2C2C;
  --sidebar-border: #D8D6D1;
  --sidebar-ring: #5D6D5B;
}

.dark {
  --background: #2C2C2C;
  --foreground: #F9F8F6;
  --card: #2C2C2C;
  --card-foreground: #F9F8F6;
  --popover: #2C2C2C;
  --popover-foreground: #F9F8F6;
  --primary: #5D6D5B;
  --primary-foreground: #F9F8F6;
  --secondary: #2C2C2C;
  --secondary-foreground: #F9F8F6;
  --muted: #2C2C2C;
  --muted-foreground: #D8D6D1;
  --accent: #5D6D5B;
  --accent-foreground: #F9F8F6;
  --destructive: #7f1d1d;
  --destructive-foreground: #F9F8F6;
  --border: #5D6D5B;
  --input: #5D6D5B;
  --ring: #D8D6D1;
  --chart-1: #5D6D5B;
  --chart-2: #F9F8F6;
  --chart-3: #D8D6D1;
  --chart-4: #EBE9E4;
  --chart-5: #2C2C2C;
  --sidebar: #2C2C2C;
  --sidebar-foreground: #F9F8F6;
  --sidebar-primary: #5D6D5B;
  --sidebar-primary-foreground: #F9F8F6;
  --sidebar-accent: #2C2C2C;
  --sidebar-accent-foreground: #F9F8F6;
  --sidebar-border: #5D6D5B;
  --sidebar-ring: #D8D6D1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}